@namespace xml url('http://www.w3.org/XML/1998/namespace');

:root {
    /* des variables globales */
    --rubric: hsl(357, 82%, 40%);
    --trad: hsl(236, 46%, 50%);
    --royal: hsl(236, 46%, 39%);
    --border: #888;
    --marker: #aaa;
    --bg: #fff;
    --bg_marg: #DDD;
    --bg_soft: #F0F0EE;
    --text: #000;
    --text_soft: #333;
    --text_grey: #666;
    /* 
        Échec Accents : Georgia, "Source Serif VF" 
        Échec : "Times New Roman"
        Réussies : "Palatino Linotype", "Athena", 
     */
    --serif: 'Crimson Pro', "Palatino Linotype", "Athena", serif;
    --grc: "Noto Sans", "Athena", sans-serif;
    --sans-serif: "Noto Sans", "Athena", sans-serif;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-display: swap;
    font-family: "Athena";
    src: url("./fonts/newathu5.woff") format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Crimson Pro';
    font-style: normal;
    src: url("./fonts/CrimsonPro-VariableFont_wght.ttf");
    font-weight: 200 900;
}

@font-face {
    font-display: swap;
    /* garder le nom Google standard */
    font-family: 'Crimson Pro';
    font-style: italic;
    src: url("./fonts/CrimsonPro-Italic-VariableFont_wght.ttf");
    /* cf. spec font https://fonts.google.com/variablefonts 
    pas de propriété wdth permettant du font-stretch
    */
    font-weight: 200 900;
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-display: swap;
    src: local('Noto Sans'),
        url('./fonts/NotoSansDisplay-VariableFont_wdth,wght.woff2') 
        format('woff2'),
        url('./fonts/NotoSansDisplay-VariableFont_wdth,wght.ttf')
        format('truetype');
    /* cf. spec font https://fonts.google.com/variablefonts */
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
}

@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-display: swap;
    src: local('Noto Sans'),
        url('./fonts/NotoSansDisplay-Italic-VariableFont_wdth,wght.woff2') 
        format('woff2'),
        url('./fonts/NotoSansDisplay-Italic-VariableFont_wdth,wght.ttf')
        format('truetype');
    /* cf. spec font https://fonts.google.com/variablefonts */
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
}


html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    font-family: var(--sans-serif);
    line-height: 1.3rem;
}


/* Default html */

/* Restore font-size inheritence */
button,
input,
pre,
table {
    font-family: inherit;
    font-size: inherit;
}

/* Default tables with no cellspacing no cellpadding */
table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 0;
}

/* lien version langues*/
div.link {
    float: right;
}

/* No border around image in a link */
a img {
    border: none;
}

h1 a {
    color: inherit;
}

/* keep line height */
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub { 
    top: 0.4em; 
}

/* the default value in input, lines should be separated to work */
::-webkit-input-placeholder {
    color: #CCC !important;
    font-style: italic !important;
    font-weight: normal !important;
}

::-moz-placeholder {
    color: #CCC !important;
    font-style: italic !important;
    font-weight: normal !important;
}

:-moz-placeholder {
    color: #CCC !important;
    font-style: italic !important;
    font-weight: normal !important;
}


/** 
 * Entry
 */

article.text,
article.entry {
    margin-bottom: 1rem;
    padding: 0;
}

nav.prevnext {
    display: flex;
    padding: 0.2rem 0 2rem 0;
}

nav.prevnext>a {
    flex-basis: 50%;
    padding: 0.3rem 0.5rem;
    line-height: 100%;
    color: var(--rubric);
    display: block;
    text-decoration: none;
}

nav.prevnext>a:hover {
    background-color: var(--bg);
    color: var(--text);
}

nav.prevnext .next {
    text-align: right;
}

article.entry .body {
    padding: 2rem 1rem 2rem 1rem;
    background-color: var(--bg);
    overflow-anchor: none;
    flex-grow: 2;
}

article .body * {
    overflow-anchor: none;
}

div.row {
    padding: 2rem 0;
    display: flex;
    position: relative;
}

nav.toc {
    overflow-y: auto;
    font-size: 0.85rem;
    font-weight: 300;
    padding-left: 0.5rem;
}

nav.toc a {
    display: block;
    text-decoration: none;
    line-height: 105%;
    padding: 5px;
    color: inherit;
}

nav.toc a>* {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

/*
nav.toc ul a {
    padding-left: 1rem;
}

nav.toc ul ul a {
    padding-left: 2rem;
}

nav.toc ul ul ul a {
    padding-left: 3rem;
}

nav.toc ul ul ul ul a {
    padding-left: 4rem;
}

nav.toc ul ul ul ul ul a {
    padding-left: 5rem;
}

nav.toc ul ul ul ul ul ul a {
    padding-left: 6rem;
}
*/

nav.toc a.active,
nav.toc a:hover {
    background-color: var(--bg);
    color: var(--text);
}

.usg {
    /*
    font-stretch: condensed;
    font-weight: 550;
    */
}

q::before {
    content: '';
}

q::after {
    content: '';
}

q {
    font-style: italic;
    font-weight: 380;
}

q[lang="spa"] {
    color: var(--trad);
    font-weight: 400;
}

q[lang="grc"] {
    font-family: var(--grc);
    font-style: normal;
}


/* Espacements et alignments des <sense> */

section.sense {
    margin: 0.2rem 0.2rem 0.5rem 1.1rem;
    padding: 0rem 0 0 0.5rem;
    position: relative;
    border-left: 1px solid var(--bg_soft);
    /*
    background-color: var(--bg);
    background: linear-gradient(to right, var(--bg), var(--bg_soft) 3rem, var(--bg_soft) 60%, var(--bg));
    */
}

/* numbering of senses */

section.sense>b.pc,
section.sense>b.num {
    position: absolute;
    left: -1.5rem;
    width: 1.5rem;
    text-align: center;
    display: inline-block;
    text-indent: 0;
    line-height: inherit;
    font-size: 85%;
    font-weight: bold;
}

section.sense>b.pc {
    color: transparent;
}
section.sense>b.pc::before {
    position: absolute;
    left: 0.5rem;
    text-indent: 0;
    box-sizing: border-box;
    content: '✦';
    font-size: 80%;
    color: var(--rubric);
}


section.sense>b.num {
    color: var(--text_soft);
}

section.sense div,
section.sense p {
    text-indent: 0;
}

article.entry>footer,
article.entry>header {
    font-weight: 200;
}

span.bibl {
    /* comportement général <bibl>, surchargé ensuite pour dmic entry>bibl */
    color: var(--text_grey);
    white-space: nowrap;
    font-stretch: semi-condensed;
    font-size: 0.85rem;
    font-weight: 400;
}

form {
    margin: 0;
    padding: 0;
    line-height: 1;
}

form * {
    text-indent: 0;
}



header>.form,
article.entry>.bibl,
article.entry>.etym {
    padding: 0.3rem 0.7rem;
    border-bottom: 2px solid var(--bg_soft);
}

article.entry>footer {
    padding: 0.3rem 0.7rem;
    border-top: 2px solid var(--bg_soft);
}


header>div.form1 {
    border-top: none;
}


.entry .def>i,
.entry i>i,
.entry .q>i,
.entry .title>i {
    font-style: normal;
    font-family: var(--sans-serif);
    color: var(--text);
    font-weight: 200;
}

q[lang="spa"] i {
    /* font-stretch: semi-condensed; */
    color: var(--text);
    font-style: normal;
}

a.ref {
    text-decoration: underline;
}

a.ref .num {
    font-weight: 400;
}




.orth {
    color: var(--rubric);
    font-stretch: expanded;
}

.orth.variant {
    font-weight: 500;
}

strong.lemma {
    font-weight: 500;
    font-size: 1.5rem;
}

.def {
    font-style: italic;
    color: var(--rubric);
    font-weight: 370;
}

.def > i {
    font-style: normal;
    color: var(--text);
}

.title {
    font-style: italic;
}