:root {
    --left_width: 20rem;
    --framing: 1.2rem;
}

* {
    box-sizing: border-box;
}

@media (min-width: 992px) {
    html {
        font-size: 12pt;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 13pt;
    }
}

@media (min-width: 1500px) {
    html {
        font-size: 14pt;
    }
}

@media (min-width: 2000px) {
    html {
        font-size: 18pt;
    }
}

#win {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: #FFFFFF;
    background-image: linear-gradient(to right, #FFFFFF, var(--bg_soft) 21.2rem, #353b90);
    padding: var(--framing) var(--framing) 0 var(--framing);
    position: relative;
}

#middle {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
}

#left {
    display: flex;
    flex-direction: column;
    width: var(--left_width);
    border-bottom: 1px var(--border) solid;
    position: relative;
    color: #333333;
    padding: 0;
    border-top: none;
    /* ugly hack for a grey pixel in tab */
    /* margin-top: -1px; */    
}

#form {
    /* suggest field */
    text-align: left;
    width: 100%;
    outline: 0;
    border: none;
    padding: 2px 24px 2px 1ex;
    color: var(--rubric);
}

.inverso #form {
    text-align: right;
}

#left form {
    border-left: 1px var(--border) solid;
}

#lemmas {
    /* lemmas suggestion */
    height: 100%;
    overflow-y: scroll;
    border-left: 1px var(--border) solid;
}

#lemmas.inverso {
    text-align: right;
}

*::-webkit-scrollbar {
    width: 10px;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--border) ;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#lemmas {
    height: calc(100vh - 8.45rem);
}

#main {
    width: 55rem;
    height: calc(100vh - 7rem);
    overflow: auto;
    position: relative;
    border-right: 1px var(--border) solid;
}

div.entrywrap {
    position: relative;
    height: 100%; /* should be contained by #main */
    display: flex;
}

div.entrywrap > nav {
    width: 15rem;
    height: 100%;
    overflow: auto;
    color: #fff;
}

button.tree {
    color: #fff;
    background-color: transparent;
    border: 1px #fff solid;
    padding: 0 0.1rem;
    margin-right: 0.5rem;
    line-height: 1;
    border-radius: 0.2rem;
}

button.tree:hover {
    color: var(--text);
}

div.entrywrap > article {
    width: 40rem;
    height: 100%;
    overflow: auto;
    background-color: var(--bg);
}

#right {
    flex-basis: 50em;
}

#right {
    display: flex;
    flex-direction: column;
    border-bottom: 1px var(--border) solid;
    padding: 0;
}

#middle>* {
    position: relative;
}

#header {
    position: relative;
    height: 3rem;
    flex-grow: 0;
    flex-shrink: 0;
}

.tabs {
    height: 1.5rem;
    display: flex;
    /* font-size: 1; */
}

.tabs .filler {
    border-bottom: 1px var(--border) solid;
    flex-grow: 5;
    width: 100%;
}

.tabs a {
    font-size: 0.85rem;
    cursor: pointer;
    border: 1px transparent solid;
    border-bottom: 1px var(--border) solid;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 1.5rem;
    display: block;
    white-space: nowrap;
    /* avoid line-height, the px between Chrome and Firefox */
    text-decoration: none;
    padding: 0 0.5rem 0.3rem 0.5rem;
    color: var(--border);
    /* margin-bottom: -1px; */
}

.tabs a.active,
.tabs a:hover {
    color: var(--rubric) !important;
    border-bottom: 1px transparent solid;
    border-left: 1px var(--border) solid;
    border-top: 1px var(--border) solid;
    border-right: 1px var(--border) solid;
}

#tabs-left a.active,
#tabs-left a:hover {
    background-color: var(--bg);
    border-bottom: 1px solid var(--bg);
}

#header .grad a {
    color: #FFFFFF;
}

#footer {
    color: #FFFFFF;
}

#footer a {
    color: inherit;
    text-decoration: none;
}

#footer {
    height: var(--framing);
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#footer #tei {
    position: absolute;
    right: -17px;
    top: 0;
}

#header>.right {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    color: #fff;
    font-size: 120%;
    line-height: 100%;
    font-family: var(--serif);
}

#header>.left {
    font-size: 120%;
    line-height: 100%;
    font-family: var(--serif);
    color: #353b90;
}


#header a {
    font-weight: normal;
    color: inherit;
    text-decoration: none;
}

#lemmas a {
    padding: 0 1ex 0 1ex;
    line-height: 117%;
    text-decoration: none;
    color: #000000;
    display: block;
}

#lemmas a:hover,
#lemmas a:active,
#lemmas a:focus,
#lemmas a.active,
#lemmas .hilite {
    text-decoration: none;
    background: #FFFFFF;
    font-weight: inherit;
    color: var(--rubric);
}

article.text {
    margin: 1rem;
    width: 40em;
    background-color: var(--bg);
    padding: 1rem;
}



.prevnext
